In [7]:
import numpy as np
import pandas as pd 
import os 
import tensorflow as tf
import matplotlib.pyplot as plt
from pathlib import Path

In [8]:

current_dir = Path(os.getcwd())
# construct relative path to csv file
csv_file = current_dir.parent/'Titantic_Predictor'/'train.csv'
# read csv file using pandas
train_df = pd.read_csv(csv_file)
print(train_df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [11]:
# regex to split cabin data into letters and digits
regex = '(?P<letter>\D+)(?P<digit>\d*)'
# creates two columns for letters and digits
cols = ['letter', 'digit']
# creates 
split_df = train_df.Cabin.str.extract(regex, expand=True)

split_df['digit'] = pd.to_numeric(split_df['digit'], 'coerce').fillna(0)

split_df.sort_values(cols, inplace=True)

split_df.head(10)

    letter  digit
96       A    5.0
23       A    6.0
174      A    7.0
583      A   10.0
475      A   14.0
556      A   16.0
284      A   19.0
599      A   20.0
630      A   23.0
867      A   24.0